.ReviewCardToPage {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.edited_tag {
    font-size: 0.75rem;
    font-style: italic;
    color: var(--text-card-package, #999999);
    margin-left: 4px;
}
