p {
  padding-left: 0;
}

.footerDesktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  gap: 40px;
  background-color: var(--footer-bg);
}

.logoIco {
  width: 30px;
  height: auto;
}

.logoIco2 {
  width: 100px;
  height: auto;
}

.logoIco3 {
  width: 90px;
  height: auto;
  filter: var(--logo-filter);
}

.groupIco {
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.groupLink {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.groupLink p {
  color: var(--text-footer);
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px;
}

.groupNames {
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.groupNames.team-member {
  padding-left: 0;
}

.groupNames .iconGithub,
.groupNames a {
  color: var(--text-footer);
  font-size: 14px;
}

.groupNames a {
  text-decoration: none;
}

.groupNames:hover .iconGithub,
.groupNames:hover a {
  color: var(--orange-avanade);
}

@media (min-width: 768px) {
  .footerDesktop {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 30px 2%;
    gap: 60px;
  }

  .groupLink {
    align-items: flex-start;
    text-align: left;
  }

  .groupIco {
    justify-content: flex-start;
  }

  .groupNames.team-member {
    padding-left: 10px;
  }

  .verticalSeparator {
    display: block;
    border-left: 1px solid var(--text-footer);
    opacity: 0.3;
    align-self: stretch;
  }
}